<div class="btn-alterar-excluir">
    <a href="/cadastroAlterar/{{codigo}}" class="btn btn-warning">Alterar</a>
    <a href="/excluir/{{codigo}}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este produto?');">Excluir</a>
</div>
   
