  <div class="botaoentrar">
    <a href="{{link}}" class="btn btn-primary custom-entrar-btn d-flex align-items-center" role="button">
      <span style="font-weight:580;">{{texto}}</span>
    </a>
  </div>
