<div class="logo-wrapper text-center">
  <a href="/" class="btninicio" role="button ">
    <img src="/images/achoupet.png" alt="AchouPet Logo" style="height: 120px;">
  </a>
  <h4 style="margin-top: 1rem; font-size: 1.2rem;">
    <strong>Encontre ou anuncie seu pet perdido</strong>
  </h4>
</div>
