<form action="{{link}}" method="GET">
  <div class="botaoentrar">
    <button type="submit" class="btn btn-primary custom-entrar-btn d-flex align-items-center justify-content-center" role="button">
      <span style="font-weight:580;">{{texto}}</span>
    </button>
  </div>
</form>

