<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-container">
                    <h1>Nossos Produtos</h1>
                    <img src="/images/logov2.png" alt="Logo Germano Parts" class="h1-logo">
                </div>
            </div>
        </div>
        {{>_todos-produtos}}
    </div>
</main>