<div class="inicio-container">
    <div class="text-container">
        <h4 class="title-inicio"> Encontre ou anuncie seu pet perdido</h4>
        <h4 class="textIntrod-inicio">Aproveite ferramentas de busca de animais de estimação, reconhecidas por sua eficiência em todo o Brasil. Cadastre seu anúncio gratuitamente agora e tenha acesso exclusivo ao painel de busca.</h4>
    </div>
    <div class="divImg-inicio">
        <img src="/images/inicio-mulher.png" alt="img-inicio" class="img-mulher-inicio">
    </div>  
    </div> 
   <div class="botaopesquisar">
        <a href="/animais" class="btn btn-primary custom-pesquisar-btn d-flex align-items-center" role="button ">
            <img src="/images/cachorro.png" alt="cachorro" class="img-pesquisarPet" style="width:41px; height:auto; margin-right:8px;">
            <span style="font-weight:580;">Quero pesquisar meu pet</span>
        </a>
    </div>
    <div class="botaocadastrar">
        <a href="/anunciar" class="btn btn-primary custom-cadastrar-btn d-flex align-items-center" role="button ">
            <img src="/images/petlupa.png" alt="lupa" class="img-cadastrarPet" style="width:41px; height:auto; margin-right:8px;">
            <span style="font-weight:580;">Quero cadastrar meu pet perdido</span>
        </a>
    </div>
</div>
