<div class="inicio-container">
    <div class="text-container">
        <h4 class="opcoes">Selecione uma opção</h4>
    </div>
    <div class="botaopesquisar">
        <a href="/animais" class="btn btn-primary custom-pesquisar-btn d-flex align-items-center" role="button ">
            <img src="/images/cachorro.png" alt="cachorro" class="img-pesquisarPet" style="width:41px; height:auto; margin-right:8px;">
            <span style="font-weight:580;">Quero pesquisar meu pet</span>
        </a>
    </div>
    <div class="botaocadastrar">
        <a href="/cadastrar" class="btn btn-primary custom-cadastrar-btn d-flex align-items-center" role="button ">
            <img src="/images/petlupa.png" alt="lupa" class="img-cadastrarPet" style="width:41px; height:auto; margin-right:8px;">
            <span style="font-weight:580;">Quero cadastrar meu pet perdido</span>
        </a>
    </div>
    <div class="pular">
        <a href="/animais" role="button">
            <span style="font-weight:580;">Pular esta etapa</span>
        </a>
    </div>
    <div class="voltar-ajuste">
        {{>_voltar link="/signIn" }} 
    </div>
</div>